In [32]:
from konlpy.tag import Kkma
from wordcloud import WordCloud
from tqdm import tqdm
import matplotlib.pyplot as plt
import pandas as pd
import os
import re

## 주식 가격 정리

In [36]:
stock_price = {"넷마블_07" : 68200, "넷마블_08" :  71500, "넷마블_09" : 61000, "넷마블_10" : 53600, "넷마블_11" : 46650,
"HMM_07" : 23650, "HMM_08" :  25050, "HMM_09" : 20600, "HMM_10" : 18700, "HMM_11" : 19700,
"KB금융_07" : 46950, "KB금융_08" : 50600, "KB금융_09" : 48100, "KB금융_10" : 44700, "KB금융_11" : 47450,
"KT&G_07" : 82100, "KT&G_08" : 81300, "KT&G_09" : 82900, "KT&G_10" : 87000, "KT&G_11" : 94800,
"LG_07" : 82100, "LG_08" : 81300, "LG_09" : 79300, "LG_10" : 76300, "LG_11" : 81600,
"LG생활건강_07" : 673000, "LG생활건강_08" : 758000, "LG생활건강_09" : 672000, "LG생활건강_10" : 632000, "LG생활건강_11" : 570000,
"LG에너지솔루션_07" : 356000, "LG에너지솔루션_08" : 447000, "LG에너지솔루션_09" : 483000, "LG에너지솔루션_10" : 444500, "LG에너지솔루션_11" : 587000,
"LG전자_07" : 90200, "LG전자_08" : 94000, "LG전자_09" : 97200, "LG전자_10" : 80700, "LG전자_11" : 90900,
"LG화학_07" : 500000, "LG화학_08" : 652000, "LG화학_09" : 616000, "LG화학_10" : 555000, "LG화학_11" : 704000,
"NAVER_07" : 235000, "NAVER_08" : 258500, "NAVER_09" : 236000, "NAVER_10" : 176500, "NAVER_11" : 169000,
"POSCO홀딩스_07" : 230000, "POSCO홀딩스_08" : 240000, "POSCO홀딩스_09" : 252500, "POSCO홀딩스_10" : 222500, "POSCO홀딩스_11" : 276500,
"SK_07" : 209500, "SK_08" : 219500, "SK_09" : 225000, "SK_10" : 201500, "SK_11" : 222000,
"SK이노베이션_07" : 177500, "SK이노베이션_08" : 195500, "SK이노베이션_09" : 186000, "SK이노베이션_10" : 154000, "SK이노베이션_11" : 181500,
"SK텔레콤_07" : 53600, "SK텔레콤_08" : 52900, "SK텔레콤_09" : 52100, "SK텔레콤_10" : 50900, "SK텔레콤_11" : 50400,
"SK하이닉스_07" : 89100, "SK하이닉스_08" : 96300, "SK하이닉스_09" : 91100, "SK하이닉스_10" : 86200, "SK하이닉스_11" : 86500,
"고려아연_07" : 481000, "고려아연_08" : 553000, "고려아연_09" : 612000, "고려아연_10" : 597000, "고려아연_11" : 595000,
"기아_07" : 78500, "기아_08" : 81400, "기아_09" : 81000, "기아_10" : 72800, "기아_11" : 67100,
"삼성SDI_07" : 506000, "삼성SDI_08" : 597000, "삼성SDI_09" : 566000, "삼성SDI_10" : 556000, "삼성SDI_11" : 740000,
"삼성물산_07" : 121500, "삼성물산_08" : 121500, "삼성물산_09" : 115000, "삼성물산_10" : 107000, "삼성물산_11" : 120500,
"삼성바이오로직스_07" : 791000, "삼성바이오로직스_08" : 900000, "삼성바이오로직스_09" : 815000, "삼성바이오로직스_10" : 811000, "삼성바이오로직스_11" : 883000,
"삼성생명_07" : 62400, "삼성생명_08" : 61500, "삼성생명_09" : 63900, "삼성생명_10" : 61200, "삼성생명_11" : 67300,
"삼성전자_07" : 57100, "삼성전자_08" : 60800, "삼성전자_09" : 57100, "삼성전자_10" : 55200, "삼성전자_11" : 60200,
"셀트리온_07" : 179500, "셀트리온_08" : 203500, "셀트리온_09" : 180500, "셀트리온_10" : 173000, "셀트리온_11" : 183000,
"신한지주_07" : 37250, "신한지주_08" : 35950, "신한지주_09" : 34750, "신한지주_10" : 34500, "신한지주_11" : 36600,
"카카오_07" : 68100, "카카오_08" : 82000, "카카오_09" : 70000, "카카오_10" : 55900, "카카오_11" : 49850,
"카카오뱅크_07" : 29450, "카카오뱅크_08" : 32000, "카카오뱅크_09" : 25600, "카카오뱅크_10" : 20350, "카카오뱅크_11" : 20500,
"포스코케미칼_07" : 103000, "포스코케미칼_08" : 143500, "포스코케미칼_09" : 164500, "포스코케미칼_10" : 153500, "포스코케미칼_11" : 214500,
"하나금융지주_07" : 38350, "하나금융지주_08" : 39050, "하나금융지주_09" : 38050, "하나금융지주_10" : 37250, "하나금융지주_11" : 40800,
"한국전력_07" : 22600, "한국전력_08" : 21700, "한국전력_09" : 19850, "한국전력_10" : 19850, "한국전력_11" : 16900,
"현대모비스_07" : 201500, "현대모비스_08" : 226000, "현대모비스_09" : 214500, "현대모비스_10" : 198000, "현대모비스_11" : 221000,
"현대차_07" : 178000, "현대차_08" : 196000, "현대차_09" : 200000, "현대차_10" : 179500, "현대차_11" : 169500}

total = []
for i in tqdm(os.listdir("naver_news")):
    file = i.split(".")[0]
    name = i.split(".")[0].split("_")[0]
    month = i.split(".")[0].split("_")[1]
    df = pd.read_csv("naver_news/" + i)
    df['종목'] = name
    df['MONTH'] = month
    df['PRICE'] = stock_price.get(file)
    total.append(df)

100%|████████████████████████████████████████████████████████████████████████████████| 155/155 [00:06<00:00, 24.60it/s]

## 모든 종목 하나의 데이터프레임으로 합치기

In [37]:
df = pd.concat(total, ignore_index=True)
df

                                                     TEXT   종목 MONTH   PRICE
0       인터뷰 - 조승환 해양수산부 장관2026년 선복량 120만TEU로항만터미널·육상 물...  HMM    07   23650
1       국내 최대 국적선사 HMM(옛 현대상선)이 사상 최대 규모인 15조원을 투자하기로 ...  HMM    07   23650
2       역대급 실적 전망에도 증권사 목표주가 하락…"3분기 성수기 실적 괜찮을 것"\n\n...  HMM    07   23650
3       박기훈 SM상선 대표가 HMM 인수설에 선을 그었다. /사진=SM상선 박기훈 SM상...  HMM    07   23650
4       산은 기업구조조정 과제 산적독과점 해소 노력한다지만미국·EU 등 심사 문턱 여전해운...  HMM    07   23650
...                                                   ...  ...   ...     ...
150434  올해 10기 임팩트 스타트업 28개팀 신규 선발, 총 11억 6000만원 지원현대차...  현대차    11  169500
150435  현대차 48년만에 복원 프로젝트車디자인 대부 주자로와 협력\n\n\n\n현대자동차가...  현대차    11  169500
150436  시멘트 하루 피해액 200억원 육박…철강도 출하 단절 발생자동차 탁송, 배송센터 직...  현대차    11  169500
150437  현대차그룹 프리미엄 브랜드 제네시스의 스포츠유틸리티차(SUV) GV70 전동화 모델...  현대차    11  169500
150438  유영상 SKT CEO(왼쪽)가 지난 25일 루마니아를 방문해 ‘2030부산세계박람회...  현대차    11  169500

[150439 rows x 4 columns]

## 감성 사전을 이용해서 각 뉴스기사당 감성 점수 부여하기

In [38]:
knu = pd.read_csv("knu_sentiment_lexicon.csv")

check_total = []
box = []
for i in tqdm(df['TEXT']):
    score = 0
    check = [0,0]
    for w, p in zip(knu['word'], knu['polarity']):
        if w in str(i):
            score += p
            if p > 0:
                check[0] += 1
            elif p < 0:
                check[1] += 1
    check_total.append(check)
    box.append(score)

100%|██████████████████████████████████████████████████████████████████████████| 150439/150439 [53:57<00:00, 46.47it/s]

In [39]:
df['SCORE'] = box
df

,TEXT,종목,MONTH,PRICE,SCORE
0,인터뷰 - 조승환 해양수산부 장관2026년 선복량 120만TEU로항만터미널·육상 물...,HMM,07,23650,2
1,국내 최대 국적선사 HMM(옛 현대상선)이 사상 최대 규모인 15조원을 투자하기로 ...,HMM,07,23650,-10
2,"역대급 실적 전망에도 증권사 목표주가 하락…""3분기 성수기 실적 괜찮을 것""\n\n...",HMM,07,23650,0
3,박기훈 SM상선 대표가 HMM 인수설에 선을 그었다. /사진=SM상선 박기훈 SM상...,HMM,07,23650,4
4,산은 기업구조조정 과제 산적독과점 해소 노력한다지만미국·EU 등 심사 문턱 여전해운...,HMM,07,23650,-4
...,...,...,...,...,...
150434,"올해 10기 임팩트 스타트업 28개팀 신규 선발, 총 11억 6000만원 지원현대차...",현대차,11,169500,2
150435,현대차 48년만에 복원 프로젝트車디자인 대부 주자로와 협력\n\n\n\n현대자동차가...,현대차,11,169500,-7
150436,"시멘트 하루 피해액 200억원 육박…철강도 출하 단절 발생자동차 탁송, 배송센터 직...",현대차,11,169500,-16
150437,현대차그룹 프리미엄 브랜드 제네시스의 스포츠유틸리티차(SUV) GV70 전동화 모델...,현대차,11,169500,0
150438,유영상 SKT CEO(왼쪽)가 지난 25일 루마니아를 방문해 ‘2030부산세계박람회...,현대차,11,169500,5

## 감성 점수가 0이상의 정수는 긍정, 아니면 부정 부여하기

In [40]:
box = []
for i in tqdm(df['SCORE']):
    if i >= 0:
        box.append("긍정")
    else:
        box.append("부정")
df['긍정/부정'] = box
df

100%|█████████████████████████████████████████████████████████████████████| 150439/150439 [00:00<00:00, 2425939.64it/s]

,TEXT,종목,MONTH,PRICE,SCORE,긍정/부정
0,인터뷰 - 조승환 해양수산부 장관2026년 선복량 120만TEU로항만터미널·육상 물...,HMM,07,23650,2,긍정
1,국내 최대 국적선사 HMM(옛 현대상선)이 사상 최대 규모인 15조원을 투자하기로 ...,HMM,07,23650,-10,부정
2,"역대급 실적 전망에도 증권사 목표주가 하락…""3분기 성수기 실적 괜찮을 것""\n\n...",HMM,07,23650,0,긍정
3,박기훈 SM상선 대표가 HMM 인수설에 선을 그었다. /사진=SM상선 박기훈 SM상...,HMM,07,23650,4,긍정
4,산은 기업구조조정 과제 산적독과점 해소 노력한다지만미국·EU 등 심사 문턱 여전해운...,HMM,07,23650,-4,부정
...,...,...,...,...,...,...
150434,"올해 10기 임팩트 스타트업 28개팀 신규 선발, 총 11억 6000만원 지원현대차...",현대차,11,169500,2,긍정
150435,현대차 48년만에 복원 프로젝트車디자인 대부 주자로와 협력\n\n\n\n현대자동차가...,현대차,11,169500,-7,부정
150436,"시멘트 하루 피해액 200억원 육박…철강도 출하 단절 발생자동차 탁송, 배송센터 직...",현대차,11,169500,-16,부정
150437,현대차그룹 프리미엄 브랜드 제네시스의 스포츠유틸리티차(SUV) GV70 전동화 모델...,현대차,11,169500,0,긍정
150438,유영상 SKT CEO(왼쪽)가 지난 25일 루마니아를 방문해 ‘2030부산세계박람회...,현대차,11,169500,5,긍정

## 긍정, 부정 단어 개수 세기

In [41]:
sample = pd.DataFrame(check_total, columns = ['긍정개수', '부정개수'])
df = pd.concat([df, sample], axis = 1)
df

,TEXT,종목,MONTH,PRICE,SCORE,긍정/부정,긍정개수,부정개수
0,인터뷰 - 조승환 해양수산부 장관2026년 선복량 120만TEU로항만터미널·육상 물...,HMM,07,23650,2,긍정,12,9
1,국내 최대 국적선사 HMM(옛 현대상선)이 사상 최대 규모인 15조원을 투자하기로 ...,HMM,07,23650,-10,부정,22,25
2,"역대급 실적 전망에도 증권사 목표주가 하락…""3분기 성수기 실적 괜찮을 것""\n\n...",HMM,07,23650,0,긍정,15,12
3,박기훈 SM상선 대표가 HMM 인수설에 선을 그었다. /사진=SM상선 박기훈 SM상...,HMM,07,23650,4,긍정,20,11
4,산은 기업구조조정 과제 산적독과점 해소 노력한다지만미국·EU 등 심사 문턱 여전해운...,HMM,07,23650,-4,부정,9,10
...,...,...,...,...,...,...,...,...
150434,"올해 10기 임팩트 스타트업 28개팀 신규 선발, 총 11억 6000만원 지원현대차...",현대차,11,169500,2,긍정,7,4
150435,현대차 48년만에 복원 프로젝트車디자인 대부 주자로와 협력\n\n\n\n현대자동차가...,현대차,11,169500,-7,부정,1,5
150436,"시멘트 하루 피해액 200억원 육박…철강도 출하 단절 발생자동차 탁송, 배송센터 직...",현대차,11,169500,-16,부정,10,18
150437,현대차그룹 프리미엄 브랜드 제네시스의 스포츠유틸리티차(SUV) GV70 전동화 모델...,현대차,11,169500,0,긍정,4,4
150438,유영상 SKT CEO(왼쪽)가 지난 25일 루마니아를 방문해 ‘2030부산세계박람회...,현대차,11,169500,5,긍정,12,6

In [42]:
import numpy as np

In [46]:
total = []
for i in df.groupby("종목"):
    box = [i[0]]
    sample = df[df['종목'] == i[0]]
    p1 = sample[sample['MONTH'] == '07']["PRICE"].iloc[0]
    p2 = sample[sample['MONTH'] == '08']["PRICE"].iloc[0]
    p3 = sample[sample['MONTH'] == '09']["PRICE"].iloc[0]
    p4 = sample[sample['MONTH'] == '10']["PRICE"].iloc[0]
    p5 = sample[sample['MONTH'] == '11']["PRICE"].iloc[0]
    if p1 < p2:
        box.append(1)
    else:
        box.append(0)
    if p2 < p3:
        box.append(1)
    else:
        box.append(0)
    if p3 < p4:
        box.append(1)
    else:
        box.append(0)
    if p4 < p5:
        box.append(1)
    else:
        box.append(0)
    box.append(None)
    total.append(box)

## TARGET열 만들기(다음달보다 종가가 올랐을 때는 1, 아니면 0)

In [47]:
box = []
for i in tqdm(total):
    for j in range(len(df)):
        sample = df.iloc[j]
        if sample['종목'] == i[0] and sample['MONTH'] == '07':
            box.append(i[1])
        elif sample['종목'] == i[0] and sample['MONTH'] == '08':
            box.append(i[2])
        elif sample['종목'] == i[0] and sample['MONTH'] == '09':
            box.append(i[3])
        elif sample['종목'] == i[0] and sample['MONTH'] == '10':
            box.append(i[4])
        elif sample['종목'] == i[0] and sample['MONTH'] == '11':
            box.append(i[5])
df['TARGET'] = box
df

100%|██████████████████████████████████████████████████████████████████████████████████| 31/31 [05:32<00:00, 10.71s/it]

,TEXT,종목,MONTH,PRICE,SCORE,긍정/부정,긍정개수,부정개수,TARGET
0,인터뷰 - 조승환 해양수산부 장관2026년 선복량 120만TEU로항만터미널·육상 물...,HMM,07,23650,2,긍정,12,9,1.0
1,국내 최대 국적선사 HMM(옛 현대상선)이 사상 최대 규모인 15조원을 투자하기로 ...,HMM,07,23650,-10,부정,22,25,1.0
2,"역대급 실적 전망에도 증권사 목표주가 하락…""3분기 성수기 실적 괜찮을 것""\n\n...",HMM,07,23650,0,긍정,15,12,1.0
3,박기훈 SM상선 대표가 HMM 인수설에 선을 그었다. /사진=SM상선 박기훈 SM상...,HMM,07,23650,4,긍정,20,11,1.0
4,산은 기업구조조정 과제 산적독과점 해소 노력한다지만미국·EU 등 심사 문턱 여전해운...,HMM,07,23650,-4,부정,9,10,1.0
...,...,...,...,...,...,...,...,...,...
150434,"올해 10기 임팩트 스타트업 28개팀 신규 선발, 총 11억 6000만원 지원현대차...",현대차,11,169500,2,긍정,7,4,NaN
150435,현대차 48년만에 복원 프로젝트車디자인 대부 주자로와 협력\n\n\n\n현대자동차가...,현대차,11,169500,-7,부정,1,5,NaN
150436,"시멘트 하루 피해액 200억원 육박…철강도 출하 단절 발생자동차 탁송, 배송센터 직...",현대차,11,169500,-16,부정,10,18,NaN
150437,현대차그룹 프리미엄 브랜드 제네시스의 스포츠유틸리티차(SUV) GV70 전동화 모델...,현대차,11,169500,0,긍정,4,4,NaN
150438,유영상 SKT CEO(왼쪽)가 지난 25일 루마니아를 방문해 ‘2030부산세계박람회...,현대차,11,169500,5,긍정,12,6,NaN

## 7월부터 10월 데이터 가져오기

In [48]:
df2 = df[(df['MONTH'] == '07') | (df['MONTH'] == '08') | (df['MONTH'] == '09') | (df['MONTH'] == '10')]
df2.dropna(inplace=True)
df2

C:\Users\maste\AppData\Local\Temp\ipykernel_8616\2345902242.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.dropna(inplace=True)

,TEXT,종목,MONTH,PRICE,SCORE,긍정/부정,긍정개수,부정개수,TARGET
0,인터뷰 - 조승환 해양수산부 장관2026년 선복량 120만TEU로항만터미널·육상 물...,HMM,07,23650,2,긍정,12,9,1.0
1,국내 최대 국적선사 HMM(옛 현대상선)이 사상 최대 규모인 15조원을 투자하기로 ...,HMM,07,23650,-10,부정,22,25,1.0
2,"역대급 실적 전망에도 증권사 목표주가 하락…""3분기 성수기 실적 괜찮을 것""\n\n...",HMM,07,23650,0,긍정,15,12,1.0
3,박기훈 SM상선 대표가 HMM 인수설에 선을 그었다. /사진=SM상선 박기훈 SM상...,HMM,07,23650,4,긍정,20,11,1.0
4,산은 기업구조조정 과제 산적독과점 해소 노력한다지만미국·EU 등 심사 문턱 여전해운...,HMM,07,23650,-4,부정,9,10,1.0
...,...,...,...,...,...,...,...,...,...
149027,(서울=뉴스1) 김진환 기자 = 양경수 민주노총 위원장이 27일 오전 서울 서초구 ...,현대차,10,179500,-8,부정,2,5,0.0
149028,매출 13조1804억원·영업이익 5760억원…3분기 누적 완성차 대상 수주 총 33...,현대차,10,179500,1,긍정,8,5,0.0
149029,정의선 현대차그룹 회장이 올 하반기 유럽연합(EU) 의장국을 맡은 체코를 방문해 2...,현대차,10,179500,-7,부정,6,8,0.0
149030,19일 車 부품사 전동화 전환 위한 MOU정의선 “유기적 협업체계 구축 및 상생 확...,현대차,10,179500,2,긍정,21,15,0.0
149031,(서울=연합뉴스) 19일 서울 마포구 문화비축기지 문화마당에서 열린 '현대자동차 이...,현대차,10,179500,-8,부정,1,5,0.0

## 각 종목 합산하기

In [49]:
total = []
for i in tqdm(df2.groupby(["종목", "MONTH"])):
    sample = i[1]
    dsum = sample['SCORE'].sum()
    text = ""
    for j in sample["TEXT"]:
        text += j
        text += " "
    if dsum > 0:
        senti = "긍정"
    else:
        senti = "부정"
    price = sample['PRICE'].iloc[0]
    target = int(sample['TARGET'].iloc[0])
    total.append([text, i[0][0], i[0][1], price, dsum, senti, target])

100%|████████████████████████████████████████████████████████████████████████████████| 124/124 [00:26<00:00,  4.73it/s]

In [50]:
df3 = pd.DataFrame(total, columns = ['TEXT', '종목', 'MONTH', "PRICE",'SCORE', "긍정/부정", "TARGET"])
df3

,TEXT,종목,MONTH,PRICE,SCORE,긍정/부정,TARGET
0,인터뷰 - 조승환 해양수산부 장관2026년 선복량 120만TEU로항만터미널·육상 물...,HMM,07,23650,134,긍정,1
1,태국에선 취약 계층에 물품과 기부금 전달하고미국에선 심장협회 행사 참여해 자선기금 ...,HMM,08,25050,418,긍정,0
2,"""민영화 원칙 분명하지만 (매각) 시기는 신중하게 가겠다""“HMM, 충분한 경쟁력 ...",HMM,09,20600,113,긍정,0
3,"상하이컨테이너운임지수, 연중 최저치 기록 \n\n\n\nHMM 함부르크호. ...",HMM,10,18700,40,긍정,1
4,생활 제휴 콘텐츠 확대KB국민은행이 KB금융그룹 7개 계열사 플랫폼 회원 가입도 이...,KB금융,07,46950,1419,긍정,1
...,...,...,...,...,...,...,...
119,현대모비스의 3분기 실적이 주가에 긍정적인 영향을 줄 것이라는 분석이 나왔다. 강성...,현대모비스,10,198000,1624,긍정,1
120,내달 3∼7일 스타필드 하남서 '아임 도그너' 체험프로그램도 실시(서울=연합뉴스) ...,현대차,07,178000,5217,긍정,1
121,"H2 MEET 세계 최대 수소산업 전시회 개막현대차, 수소 버스·드론 선보여후속 수...",현대차,08,196000,2803,긍정,1
122,AP뉴시스미 상원에 북미산이 아닌 한국산 전기차도 전기차 보조금을 받을 수 있도록 ...,현대차,09,200000,4073,긍정,0
123,"■'현대차X서울대 테크데이' 가보니""전기차 성공 신화에 반했죠""공대생 500명 취업...",현대차,10,179500,3243,긍정,0

## 감성 사전 점수 정렬하기

In [51]:
df3.sort_values(by = "SCORE", ascending=False, inplace=True)
df3

,TEXT,종목,MONTH,PRICE,SCORE,긍정/부정,TARGET
120,내달 3∼7일 스타필드 하남서 '아임 도그너' 체험프로그램도 실시(서울=연합뉴스) ...,현대차,07,178000,5217,긍정,1
24,"세계적 예술가 잉카 일로리와 협업 \n\n\n\nLG전자, 내달 28일까지 올레드 ...",LG전자,07,90200,4622,긍정,1
84,[영국 런던 피카딜리 광장의 갤럭시 언팩 광고 (삼성전자 제공=연합뉴스)]삼성전자가...,삼성전자,07,57100,4600,긍정,1
27,태국 방콕 탑골프 메가시티의 골프 타석에 LG전자 디지털 사이니지가 설치된 모습.[...,LG전자,10,80700,4584,긍정,1
49,월 이용자 130만 가운데 2040세대가 전체 68% 차지신규 가입시 첫 달 할인가...,SK텔레콤,08,52900,4443,긍정,0
...,...,...,...,...,...,...,...
43,SK하이닉스의 신규공장 M15 공업용수 공급 2단계 사업이 완료됐습니다.청주시가 추...,SK,10,201500,-3976,부정,1
115,핼러윈 참사로 행사 취소…텅 빈 무대(곡성=연합뉴스) 천정인 기자 = 30일 오후 ...,한국전력,10,19850,-4103,부정,0
114,[서울=뉴시스] 김명원 기자 = 박진 외교부 장관이 30일 서울 종로구 외교부에서 ...,한국전력,09,19850,-4115,부정,0
103,[서울=뉴시스]이주혜 기자 = 카카오뱅크는 26주적금의 자동이체 성공 우대금리를 기...,카카오뱅크,10,20350,-10550,부정,1
99,네이버 '추모 리본 달기'…카카오 '고인의 명복을 빕니다' 댓글2차 피해나 혐오 확...,카카오,10,55900,-22014,부정,0

## 랜덤포레스트 모델을 통한 학습

In [52]:
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer()
news_dtm = cv.fit_transform(df3['TEXT'])
news_dtm

<124x1035842 sparse matrix of type '<class 'numpy.int64'>'
	with 5466383 stored elements in Compressed Sparse Row format>

In [53]:
data = news_dtm.toarray()
target = df3['TARGET']

In [ ]:
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier(oob_score=True)
rf.fit(data, target)

## 모델 평가

In [ ]:
rf.oob_score_

## 예측에 사용할 때

In [ ]:
a = pd.read_csv("KB금융_09.csv")
test = ""
for i in a['TEXT']:
    test += i
    test += " "
test

## 모델 예측 결과

In [ ]:
b = cv.transform([test])
rf.predict(b)